@use 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  color: #b6b6b6;
  background-color: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}
.header {
  background-image: url('../../public/images/header.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 168px;
	background-position: bottom center;
	margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  max-width: 980px;

  .logo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    margin-top: 20px;
  }
  
  h1 {
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 2.7em;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  p a {
    text-decoration: underline;
  }
  .bookHover:hover{
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .booksContainer {
    width: 100%;
  }
  .bookSectionLeft {
      display: flex;
      gap: 2rem;
      margin-top: 3rem;
      width: 100%;
  }
  .bookImage {
      width: 55%;
  }
  .bookContent {
      width: 45%;

      h1 {
        font-size: 1.8em;
      }
  }
  .bookReviews {
    margin-bottom: 0.2rem;
  }
  .bookReviewsAuthor {
    margin-bottom: 1rem;
  }
  .reviewsPaddingTop {
    padding-top: 20px;
  }
  .paddingTop {
    padding-top: 20px;
  }
}
.container {
  display: flex;
  gap: 1rem;
}
.twoThirds {
  width: 66.66666667%;
}
.oneThird {
  width: 33.33333333%;
}
.fullWidthContent {
  width: 100%;
  margin-top: 20px;
}
.nav {
  padding: 20px 1rem 0.5rem 0;

  .nav-item {
    margin-right: 2.5rem;
    font-size: 17pt;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.sidebar {
  max-width: 260px;
  min-width: 260px;
  padding-top: 20px;
  padding-right: 20px;

  h3 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;

    li {
      padding-bottom: 5px;
    }
  }
}
footer {
  margin-top:50px;
	box-shadow: 1px -6px 5px #000;
	padding: 20px 0;
	background-color: #121212;
  text-align: center;
}
.mobileNav {
  display: none;

  .nav {
    display: none;
  }
}
@media all and (max-width:980px) {
  .container {
    padding: 30px;
  }
  .header {
    height: 110px;
  }
}
@media all and (max-width:855px) {
  .sidebar {
    min-width: 0;
    max-width: none;
    width: 30%
  }
  .main {
    width: 70%;
  }
}
@media all and (max-width:759px) {
  .container {
    padding: 30px;
    flex-direction: column-reverse;
  }
  .sidebar {
    width: 100%;
    display: flex;
    gap: 2rem;

    img {
      width: 50% !important;
    }
  }
  .appearances .container {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 20px 0 0;
    
    img {
      width: 100% !important;
    }
  }
  .nav {
    display: none;
  }
  .logo {
    width: 200px;
  }
  .mobileNav {
    display: block;
    text-align: center;
    height: 24px;
    padding-bottom: 65px;
    padding-right: 0;

    &.open {
      background-color: #121212;
      padding: 30px 0 0 0;
      z-index: 1000;
      position: absolute;
      top: 0;
      right: 0;

      .icon {
        background-color: #121212;
      }
      .icon:hover {
        cursor: pointer;
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      z-index: 1000;
      background-color: #121212;
      padding: 30px;
      .nav-item {
        margin: 0;
      }
    }
    .closeIcon {
      background-color: #121212;
      cursor: pointer;
    }
  }
}
@media all and (max-width:626px) {
  .header {
    height: auto;

    .logo {
      margin: 20px 0 20px 20px;
    }
  }
}
@media all and (max-width:511px) {
  .appearances .container {
    .oneThird, .twoThirds {
      width: 100%;
    }
  }
}
@media all and (max-width:501px) {
  .header {
    background-position: top center;
  }
  .sidebar {
    flex-direction: column;
    padding: 0;

    img {
      width: 100% !important;
    }
  }
}